Node Red Flow
[{"id":"edc9c6cb.85f318","type":"tab","label":"Camera Slider Flow","disabled":false,"info":""},{"id":"98ebdefc.28c09","type":"mqtt out","z":"edc9c6cb.85f318","name":"","topic":"slider","qos":"","retain":"","broker":"835fe080.4851b","x":470,"y":300,"wires":[]},{"id":"2c9c0cf0.bd58e4","type":"ui_template","z":"edc9c6cb.85f318","group":"e40aef35.0d79c","name":"","order":1,"width":30,"height":12,"format":"<html>\n    <style>\n        \n       \n        \n        #controlWrapper{\n            width: 100%;\n            height: 400px;\n            margin: 0 0 2rem 0;\n            display: flex;\n            justify-content: center;\n        }\n        \n        .controlDiv{\n            border: white solid 2px;\n            margin: 5px;\n            text-align: center;\n            width: 33%;\n            height: 100%;\n            \n        }\n        \n        input{\n            height: 30px;\n            width: 60%;\n            text-align: center;\n            \n        }\n        \n    \n        \n        \n        /* Slider */\n                      .slider {\n          -webkit-appearance: none;\n          width: 100%;\n          height: 15px;\n          border-radius: 5px;\n          background: #d3d3d3;\n          outline: none;\n          opacity: 0.7;\n          -webkit-transition: .2s;\n          transition: opacity .2s;\n        }\n        \n        .slidecontainer{\n            margin-top: 50px;\n            width: 70%;\n            display: inline-block;\n        }\n        \n        .slider:hover {\n          opacity: 1;\n        }\n        \n        .slider::-webkit-slider-thumb {\n          -webkit-appearance: none;\n          appearance: none;\n          width: 25px;\n          height: 25px;\n          border-radius: 50%;\n          background: #04AA6D;\n          cursor: pointer;\n        }\n        \n        .slider::-moz-range-thumb {\n          width: 25px;\n          height: 25px;\n          border-radius: 50%;\n          background: #04AA6D;\n          cursor: pointer;\n        }\n        \n        /* Left Right Switch */\n        \n        .toggle{\n            margin:0 2rem 0 2rem;\n            position: relative;\n             display: inline-block;\n             width: 6rem;\n             height: 3.4rem;\n        }\n        \n        .toggle input {\n            display: none;\n         }\n\n        .roundbutton {\n            position: absolute;\n            top: 0;\n            left: 0;\n            bottom: 0;\n            right: 0;\n            width: 100%;\n            background-color: #33455e;\n            display: block;\n            transition: all 0.3s;\n            border-radius: 3.4rem;\n            cursor: pointer;\n        }\n        \n        .roundbutton:before {\n            position: absolute;\n            content: \"\";\n            height: 2.4rem;\n            width: 2.5rem;\n            border-radius: 100%;\n            display: block;\n            left: 0.5rem;\n            bottom: 0.5rem;\n            background-color: white;\n            transition: all 0.3s;\n        }\n        \n        input:checked + .roundbutton {\n            background-color: #33455e;\n        }\n        \n        input:checked + .roundbutton:before  {\n            transform: translate(2.6rem, 0);\n        }\n        \n        .leftRightSwitch{\n            margin-top: 2em;\n            margin-bottom: 2em;\n            justify-content: center;\n            display: flex;\n        }\n        \n        .manualControlAside{\n            width: 50%;\n            text-align:center;\n            display:flex;\n            justify-content:center;\n        } \n        \n        #leftRightToggle{\n            display: flex;\n            justify-content: center;\n        }\n        \n        .title{\n            font-size: 20px;\n            margin-bottom: 2em;\n        }\n        \n        .manualControl{\n            display: inline-block;\n            text-align: center;\n        }\n        \n        .submitButton{\n            padding: 2em;\n            background-color:#33455e;\n            border-radius: 15px;\n            color: white;\n            \n        }\n        \n        \n        .historyElement{\n            border:white solid 1px;\n            height: 130px;\n            width: 130px;\n            margin-right: 10px;\n        }\n        \n        #historyControl{\n        \n            width: 250px;\n            height: 200px;\n            margin-right: 20px;\n            border-right: 2px solid red;\n            \n            align-items: center;\n            justify-content: center;\n        }\n        \n         #history{\n            height: 200px;\n            width: 99%;\n            margin: 5px;\n            position: absolute;\n            top: 67%;\n            border: solid white 2px;\n            display: flex;\n            flex-direction: row;\n            justify-content:left;\n            align-items: center;\n            overflow-x: auto;\n            overflow-y: hidden;\n        }\n        \n        .historyTopElement {\n            width: 130px;\n            height: 60px;\n            display: flex;\n            align-items: center;\n            justify-content: space-around;\n        }\n        \n        .deviderLine {\n            \n            width: 2px;\n            height: 100%;\n            background-color: white;\n            \n            \n        }\n        \n        .stepsDisplay {\n            text-align: center;\n        }\n        \n        #secondsText{\n            margin-right: 20px;\n            margin-left: 20px;\n            border: #33455e solid 2px;\n            padding: 20px 50px 20px 50px;\n        }\n\n    </style>\n    \n    <body>\n        \n        <script> \n        \n        currentPosition= 0;\n        var numberOfHistoryElements = 0;\n        var mqttString = \"[0[]\";\n        var directControl = \"\";\n        \n        \n        this.scope.action = function() { return mqttString }\n         \n        /* Left Right Toggle */\n        \n        var inputLeftRight = document.getElementById('toggleSwitch');\n        var leftRightValue = 0;\n        var directionForDisplay = \"<-\";\n        \n        inputLeftRight.addEventListener('change',function(){\n        if(this.checked) {\n            leftRightValue = 1;\n            directionForDisplay = \"->\";\n        } else {\n            leftRightValue = 0;\n            directionForDisplay = \"<-\";\n        }\n        });\n       \n       \n       /* Manual Control Add to History */\n        \n        function addToHistoryManual() {\n            \n            var inputSteps = document.getElementById(\"stepsInput\").value * 47;\n            var inputSpeed = document.getElementById(\"speedInput\").value;\n            \n            var finalString = inputSteps + \"/\" + leftRightValue + inputSpeed + \";0!\";\n            \n            \n            \n            if(inputSteps >= 1 && inputSteps <=119*47 && inputSpeed >= 1 && inputSpeed <= 100)\n            {\n                \n                \n                \n                addNewHistoryElement(inputSteps, directionForDisplay, inputSpeed);\n                addToMqttString(finalString);\n            }\n            else {\n                alert(\"Invalid Input\");\n            }\n            \n            /* chnage current Position */\n            \n            if(leftRightValue = 0){ /* going left */\n                currentPosition -= inputSteps;\n                if(currentPosition <0 ){ currentPosition = 0; }\n            }\n            else{ /* going right */\n                currentPosition += inputSteps;\n                if(currentPosition > 5593 ){ currentPosition = 0; }\n            }\n            \n        }\n        \n        function addToMqttString(newElement){\n            \n            var newString = mqttString.slice(0,-1);\n            newString += newElement + \"]\";\n            \n            bufferString = newString.slice(2);\n            newString = \"[\" + numberOfHistoryElements + bufferString;\n            \n            mqttString = newString;\n        } \n        \n        function addNewHistoryElement(steps, dir, vel) {\n            \n            numberOfHistoryElements = numberOfHistoryElements + 1;\n            \n            pauseAdded = false;\n            \n            const historyContainer = document.getElementById(\"history\");\n            var newElement = document.createElement(\"div\");\n            \n            newElement.className = \"historyElement\";\n            \n            var topElement = document.createElement(\"div\");\n            topElement.className = \"historyTopElement\";\n            var directionDisplay = document.createElement(\"h2\");\n            var VelocityDisplay = document.createElement(\"h2\");\n            \n            var deviderLine = document.createElement(\"div\");\n            deviderLine.className = \"deviderLine\";\n            \n            directionDisplay.innerHTML = dir;\n            VelocityDisplay.innerHTML = vel + \"%\";\n            \n            topElement.appendChild(directionDisplay);\n            topElement.appendChild(deviderLine);\n            topElement.appendChild(VelocityDisplay);\n            \n            newElement.appendChild(topElement);\n            \n            \n            newElement.appendChild(document.createElement(\"hr\"));\n            \n            var stepsDisplay = document.createElement(\"h3\");\n            stepsDisplay.innerHTML = steps / 47 + \" cm\";\n            stepsDisplay.className = \"stepsDisplay\";\n            \n            newElement.appendChild(stepsDisplay)\n            \n            historyContainer.appendChild(newElement);\n            \n            \n        }\n        \n        /* Position Control Add To History */ \n        \n        var slider = document.getElementById(\"myRange\");\n        var velocityOutput = document.getElementById(\"velocitySlider\")\n        velocityOutput.innerHTML = slider.value;\n        \n        slider.oninput = function() {\n            velocityOutput.innerHTML = slider.value;\n        }\n        \n        /* Add to History with Position Control */\n        \n        function addToHistoryPosition () {\n            \n            \n            var inputSpeed2 = document.getElementById(\"speedInput2\").value;\n            var positionInput = document.getElementById(\"myRange\").value;\n            \n            if(currentPosition != positionInput * 47){\n                \n                \n                var directionString = null;\n                var directionInt = null;\n                var steps = 0;\n                \n                if(positionInput * 47  > currentPosition)\n                {\n                    steps = (positionInput * 47) - currentPosition;\n                    directionString = \"->\";\n                    directionInt = 1;\n                }\n                else{\n                    steps =currentPosition - (positionInput * 47);\n                    directionString = \"<-\";\n                    directionInt = 0;\n                }\n                \n                var finalString2 = steps + \"/\" + directionInt + inputSpeed2 + \";0!\";\n                \n                currentPosition = positionInput * 47;\n                \n                \n                addNewHistoryElement(steps, directionString, inputSpeed2);\n                addToMqttString(finalString2);\n                \n                \n            }\n            else{\n                alert(\"Invalid Input\");\n            }\n        }\n        \n        \n        \n        \n        function deleteHistory() {\n            \n            const allHistoryElements = document.getElementsByClassName(\"historyElement\");\n            while(allHistoryElements.length > 0){\n                allHistoryElements[0].remove();\n            }\n            const allPauseElements = document.getElementsByClassName(\"pauseElement\");\n            while(allPauseElements.length > 0){\n                allPauseElements[0].remove();\n            }\n            mqttString = \"[0[]\";\n        }\n        \n        var pauseAdded = false;\n        \n        function addPauseToHistory()\n        {\n            \n             var inputPause = document.getElementById(\"pauseInput\").value;\n             \n             if(inputPause > 0 && pauseAdded == false){\n             \n             var bufferString = mqttString.slice(0,-3);\n             bufferString += inputPause + \"!]\";\n             \n             mqttString = bufferString;\n            \n            \n            /*  Creating new History Element */ \n            const historyContainer = document.getElementById(\"history\");\n            \n            \n            \n        \n            var secondsText = document.createElement(\"h2\");\n            secondsText.id=\"secondsText\";\n            secondsText.innerHTML = inputPause + \" sec\";\n            \n            secondsText.className = \"pauseElement\";\n            \n            /*newElement.appendChild(secondsText); */ \n            historyContainer.appendChild(secondsText);\n             pauseAdded = true;\n             }\n             else {\n                 alert(\"Invalid Input\");\n             }\n        }\n        \n        </script>\n        \n        \n        \n        \n        <div id=\"mainDiv\">\n            \n            \n            <!-- ------------  Control and Input -------------- -->\n            \n            <section id=\"controlWrapper\">\n                \n                <!-- Manual Control Tab -->\n                \n                <aside class=\"controlDiv\" id=\"manualControl\">\n                    \n                    <h1 class=\"title\">Manual Control</h1>\n                    \n                    \n                    <p> Distance (in cm): </p>\n                    <input type=\"number\" placeholder=\"1-119\" id=\"stepsInput\" name=\"Steps\" min=\"1\" max=\"5611\">\n                    \n                    \n                    <p style=\"margin-top:1em\">Velocity (in %):</p>\n                    <input type=\"number\" value=100 id=\"speedInput\" name=\"Speed\" min=\"1\" max=\"5\">\n                    \n                    \n                    \n                    <div class=\"leftRightSwitch\">\n                        \n                        <h3>Left</h3>\n                        <label class=\"toggle\">\n                            <input id=\"toggleSwitch\" type=\"checkbox\">\n                            <span class=\"roundbutton\"></span>\n                        </label>\n                        <h3>Right</h3>\n                        \n                    </div>\n                    \n                    <button onClick=\"addToHistoryManual()\" type=\"button\" class=\"submitButton\" >Add to History</button>\n                    \n                </aside>\n                \n                \n                \n                <!-- Position Control Tab -->\n                \n                <aside class=\"controlDiv\" id=\"positionControl\">\n                    <h1 class=\"title\">Position Control</h1>\n                    \n                    <div class=\"slidecontainer\">\n                      <input type=\"range\" min=\"0\" max=\"119\" value=\"60\" class=\"slider\" id=\"myRange\">\n                      <p>Position: <span id=\"velocitySlider\"></span></p>\n                      \n                      \n                    <p style=\"margin-top: 2em\">Velocity (in %):</p>\n                    <input type=\"number\" value=100 id=\"speedInput2\" name=\"Speed\" min=\"1\" max=\"5\" style=\"margin-bottom: 4em\">\n                      \n                      \n                    <button onClick=\"addToHistoryPosition()\" type=\"button\" class=\"submitButton\">Add to History</button>\n                      \n                    </div>\n                    \n                </aside>\n                \n                <!-- Direct Control Tab --> \n                \n                \n            </section>\n            \n            <!-- -------------------  History  ----------------------- -->\n            \n            <section id=\"history\">\n                <div id=\"historyControl\">\n                    <h1 class=\"title\" style=\"text-align: center;\">History</h1>\n                    <hr style=\"width: 250px; color:white\">\n                    \n                     <div style=\"margin-top: 20px; margin-bottom:20px; display: flex; justify-content:space-around; align-items: center\" id=\"pause\">\n                        \n                        <input style=\"width:100px; height: 35px; \" type=\"number\" placeholder=\"Sec\" id=\"pauseInput\" name=\"Pause\" min=\"1\">\n                        <button style=\"height:35px; width:70px; background-color:#33455e; color: white; \" onClick=\"addPauseToHistory()\"> Pause </button>\n                    </div>\n                    \n                    <hr style=\"width: 180px; color:white\">\n                    \n                    <div style=\"display: flex; justify-content:space-around; align-items: center; margin-top: 15px;\"> \n                        <md-button style=\"background-color:green; color: white; width:100px; height:50px\" ng-click=\"send({payload:action()})\" >  RUN  </md-button>\n                        <button style=\"height: 50px; width: 70px; background-color: red; color:white; font-size:12px\" onClick=\"deleteHistory()\" >DELETE</button> \n                    </div>\n                    \n                   \n                    \n                    \n                </div>\n                \n                \n            </div>\n        \n        </section>\n        \n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":240,"y":160,"wires":[["98ebdefc.28c09"]]},{"id":"297cccb9.0fddb4","type":"ui_button","z":"edc9c6cb.85f318","name":"","group":"e40aef35.0d79c","order":2,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"rst","payloadType":"str","topic":"","x":250,"y":360,"wires":[["98ebdefc.28c09"]]},{"id":"835fe080.4851b","type":"mqtt-broker","z":"","name":"MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e40aef35.0d79c","type":"ui_group","z":"","name":"Group 4","tab":"99e81139.4673e","order":4,"disp":false,"width":30,"collapse":false},{"id":"99e81139.4673e","type":"ui_tab","z":"","name":"Camera Slider","icon":"dashboard","disabled":false,"hidden":false}]
